.main-header{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-weight: 800;
    font-size: 230%;
}

.position-custom{
    display:flex !important;
}

.page-text{
    font-family: 'Press Start 2P', cursive;
    font-size: 150%;
}

.page-score{
    text-align: center;
}

.music{
    display:none;
}