.main-header{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-weight: 800;
    font-size: 230%;
}

body{
    background-image: url(./assets/gameBackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
}

#tetris{
    width:100% !important;
}

/* .position-custom{
    display:flex !important;
} */

.page-text{
    font-family: 'Press Start 2P', cursive;
    font-size: 150%;
}

.page-score{
    text-align: center;
}

#gameOverText{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
}

.music{
    display:none;
}

.left-button{
    width: 50%;
}

.right-button{
    width:50%;
}

.red-button{
    width:50%;
}

body{
    background-color:pink;
}